<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ym.mapper.UserRoleMapper" >

    <delete id="deleteByKey" parameterType="Long">
        delete from u_roles where id = #{id}
    </delete>

    <insert id="insertRole" parameterType="com.ym.pojo.UserRole">
        insert into u_roles values(null,code=#{code},name=#{name})
    </insert>

    <select id="selectByKey" parameterType="Long" resultType="com.ym.pojo.UserRole">
        select * from u_roles where id=#{id}
    </select>

    <update id="updateByKey" parameterType="com.ym.pojo.UserRole">
        update u_roles set code=#{code},name=#{name}
        where id=#{id}
    </update>

    <!--<select id="findRoleByUserId" parameterType="Long" resultType="">-->
        <!--select * from u_role_permission-->
    <!--</select>-->
</mapper>